<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Ching Rust ䷜</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
</head>

<body>

    <main class="container">
        <nav>
            <ul>
                <li><a href="/">New Cast</a></li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/I_Ching" target="_blank">Reference ↪</a>
                </li>
            </ul>
        </nav>
        <h1>Cast the I Ching</h1>
        {% block content %}{% endblock %}
    </main>
    <footer>
        Made by
        <a href="https://nathanielknight.ca">Nat Knight ♘</a>
        with
        <a href="https://www.rust-lang.org/">Rust 🦀</a>.
    </footer>

</body>

</html>