<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>i-ching-rs ☷☳☵☱☶☲☴☰</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
</head>

<body>

    <main class="container">
        <nav>
            <ul>
                <li><a href="/">New Cast</a></li>
                <li>
                    <a href="https://ctext.org/book-of-changes/yi-jing" target="_blank">I Ching (Legge Translation) ↪</a>
                </li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Bagua#Hexagram_lookup_table" target="_blank">Hexagram Lookup Table ↪</a>
                </li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <h1>i-ching-rs</h1>
        {% block content %}{% endblock %}
    </main>
    <footer>
        Made by
        <a href="https://nathanielknight.ca">Nat Knight ♘</a>
        with
        <a href="https://www.rust-lang.org/">Rust 🦀</a>.
    </footer>

</body>

</html>